.port
{
    display: grid;
    grid-gap: 6px;
    grid-template-columns: auto auto;
    padding: 11px;
}
.port-column
{
    background-color: black;
    text-align: center;
    padding: 45px;
    height: 99px;
    font-size: 32px;
    opacity: 1;
    background-image:linear-gradient(rgba(0,0,0,0.5),rgba(0,0,0,0.5)), url(placeholder.png);
    background-position: center;
    background-size: auto;
}